@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertriary-color: #000000;

  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-weight: 500;
}

body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  color: var(--text-primary-color);
}

.section-title h2 {
  font-weight: var(--title-weight);
  font-size: 28px;
  margin: 0;
  text-align: center;
}
.section-title{
  margin: 88px auto 32px ;
  width: 280px;
}
.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px auto 0 auto;
}

.button {
  width: 280px;
  height: 64px;
  line-height: 64px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  font-weight: var(--title-weight);
  font-size: 20px;
  text-decoration: none;
  color: var(--text-secondary-color);
  font-family: "Montserrat";
  display: inline-block;
  text-align: center;
}


@media screen and (min-width: 768px) {
  .section-title h2 {
    font-size: 32px;
  }
.section-title{
  width: 100%;
}
}

@media screen and (min-width: 1024px) {
  .section-title h2 {
    font-size: 32px;
  }
  .section-title{
    margin: 104px 0 64px 0;
  }
 
  .button:hover{
    background-color: var(--primary-color);
  }
}
