header{
    background-color: var(--background-tertriary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 38px 48px
}
/* .logo{
    width: 68px;
    height: 64px;
    margin: 37px 0px 37px 48px;
    display: inline-block;
} */
.menu{

}
nav{
    display: none;
}