header {
  background-color: var(--background-tertriary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 38px 48px;
  position: relative;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertriary-color);
  
}
label:hover {
  cursor: pointer;
}
nav {
  display: none;
}
.list-link{
    list-style: none;
}
.list-link li a{
color: var(--text-secondary-color);
text-decoration: none;
}
.list-link li{
    margin: 16px 0;
}
