.hero h2 {
  font-weight: var(--text-weight);
  font-size: 24px;
  color: var(--text-primary-color);
  text-align: center;
  margin: 88px 24px;
  line-height: 1.5;
}
.hero-img {
  width: 100%;
  background-image: url(../img/image-hero-mobile.jpg);
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero-img {
    width: 100%;
    background-image: url(../img/image-hero-tablet.jpg);
    height: 620px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero h2 {
    margin: 88px 60px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background-image: url(../img/image-hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero h2 {
    margin: 104px 120px;
  }
}
