.hero-footer .image-hero {
  background: url(../img/image-footer-mobile.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
}
@media screen and (min-width: 768px) {
  .hero-footer .image-hero {
    background: url(../img/image-footer-tablet.png) no-repeat;
  }
}
@media screen and (min-width: 1024px) {
  .hero-footer .image-hero {
    background: url(../img/image-footer-desktop.png) no-repeat;
    height: 600px;
  }
}
