.card {
  padding: 24px 16px;
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  background-color: black;
  color: var(--text-secondary-color);
  border-radius: 16px;
  text-align: center;
}
.card header {
  background-color: transparent;
  display: block;
  position: static;
  padding: 0;
  margin-bottom: 8px;
  margin-top: 24px;
}
.card header p {
  font-weight: var(--text-weight);
  font-size: 20px;
}
.offers-card {
  justify-content: center;
  display: flex;
}
.card section p {
  font-weight: var(--title-weight);
}
.city {
  font-size: 40px;
  margin-bottom: 24px;
  margin-top: 0px;
}

.price {
  font-size: 32px;
  margin-bottom: 24px;
  margin-top: 0px;
}
.button {
  padding: 16px 74px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  font-weight: var(--title-weight);
  font-size: 20px;
  text-decoration: none;
  color: var(--text-secondary-color);
  font-family: "Montserrat";
  display: inline-block;
}
