.offers-card{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.card {
  padding: 24px 16px;
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  background-color: black;
  color: var(--text-secondary-color);
  border-radius: 16px;
  text-align: center;
}
.card header {
  margin-bottom: 8px;
}
.card header p {
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 32px;
}

.card section p {
  font-weight: var(--title-weight);
}
.city {
  font-size: 40px;
  margin-bottom: 24px;
  margin-top: 0px;
}

.price {
  font-size: 32px;
  margin-bottom: 24px;
  margin-top: 0px;
}

.card.japao {
  background: url(../img/bg-card-japao.jpg) no-repeat;
  background-size: cover;
}
.card.san-andreas {
  background: url(../img/bg-card-san-andreas.jpg) no-repeat;
  background-size: cover;
}
.card.paraiba {
  background: url(../img/bg-card-paraiba.jpg) no-repeat;
  background-size: cover;
}
.card.manaus {
  background: url(../img/bg-card-manaus.jpg) no-repeat;
  background-size: cover;
}
@media screen and (min-width: 1024px) {
  .card {
    width: 588px;
    height: 308px;
    padding: 24px 0;
  }
  .city {
    line-height: 59px;
  }
  .price {
    line-height: 49px;
  }
}
